<div class="container" [formGroup]="rentSpotForm" style="width: max-content;  margin-left: unset;">

  <!-- Title -->
  <h2>Rent your spot</h2>

  <!-- Form -->
  <div class="mat-form">

    <!-- City -->
    <mat-form-field>
      <input matInput placeholder="City" formControlName="city" required>
      <mat-error *ngIf="rentSpotForm.controls['city'].hasError('pattern')">
        Please enter a valid city name: Letters only
      </mat-error>
    </mat-form-field>

    <!-- Street -->
    <mat-form-field>
      <input matInput placeholder="Street" formControlName="street" required>
      <mat-error *ngIf="rentSpotForm.controls['street'].hasError('pattern')">
        Please enter a valid street name: Letters only
      </mat-error>
    </mat-form-field>

    <!-- Parking spot number -->
    <mat-form-field>
      <input matInput placeholder="Parking spot number" formControlName="spot_num">
      <mat-error *ngIf="rentSpotForm.controls['spot_num'].hasError('pattern')">
        Please enter a valid parking spot number: Integer number only
      </mat-error>
    </mat-form-field>

    <!-- Start time -->
    <div style="display:block">
      <mat-label>Start time: </mat-label>

      <mat-form-field>
        <input matInput type="date" placeholder="Date" formControlName="start_date" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="time" placeholder="Hour" formControlName="start_hour" required>
      </mat-form-field>

    </div>

    <!-- End time -->
    <div style="display:block">
      <mat-label>End time: </mat-label>

      <mat-form-field>
        <input matInput type="date" placeholder="Date" formControlName="end_date" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="time" placeholder="Hour" formControlName="end_hour" required>
      </mat-form-field>

    </div>

    <!-- Price per hour -->
    <mat-form-field>
      <input matInput placeholder="Price per hour" formControlName="price" required>
      <mat-error *ngIf="rentSpotForm.controls['price'].hasError('pattern')">
        Please enter a valid price: float number only
      </mat-error>
    </mat-form-field>

  </div>

  <!-- Buttons -->
  <div style="width:300px; align-self: center">

    <button type="button" class="btn btn-primary" (click)="addNewSpot()" [disabled]="!rentSpotForm.valid" style="float: left">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="reset()" style="float: right">Reset</button>

  </div>

</div>