<div class="container" [formGroup]="rentSpotForm">

  <!-- Title -->
  <h2>Rent your spot</h2>

  <!-- Form -->
  <div class="mat-form">


    <!-- Address: -->
    <div class="row" formGroupName="address">

      <!-- Label -->
      <div class="col-sm-2">
        <mat-label>Address:</mat-label>
      </div>

      <!-- City -->
      <div class="col-sm-3">
        <mat-form-field class="form-field">
          <input matInput placeholder="City" formControlName="city" required>
          <mat-error *ngIf="rentSpotForm.get('address').controls['city'].hasError('pattern')">
            Please enter a valid city name: Letters only
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Street -->
      <div class="col-sm-3">
        <mat-form-field class="form-field">
          <input matInput placeholder="Street" formControlName="street" required>
          <mat-error *ngIf="rentSpotForm.get('address').controls['street'].hasError('pattern')">
            Please enter a valid street name: Letters only
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Parking spot number -->
      <div class="col-sm-3">
        <mat-form-field class="form-field">
          <input matInput placeholder="Parking spot number" formControlName="spot_num">
          <mat-error *ngIf="rentSpotForm.get('address').controls['spot_num'].hasError('pattern')">
            Please enter a valid parking spot number: Integer number only
          </mat-error>
        </mat-form-field>
      </div>

    </div>


    <!-- Start time: -->
    <div class="row" formGroupName="start_time">

      <!-- Label -->
      <div class="col-sm-2">
        <mat-label>Start time:</mat-label>
      </div>

      <!-- Date: -->
      <div class="col-sm-3">
        <div class="input-group">
          <input formControlName="start_date" placeholder="yyyy-mm-dd" name="dpS" ngbDatepicker #dS="ngbDatepicker"
            class="date-input-field">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="dS.toggle()">
              <span class="fa fa-calendar"></span>
            </button>
          </div>
        </div>
      </div>

      <!-- Hour: -->
      <div class="col-sm-3">
        <ngb-timepicker formControlName="start_hour" required></ngb-timepicker>
      </div>

    </div>


    <!-- End time: -->
    <div class="row" formGroupName="end_time">

      <!-- Label -->
      <div class="col-sm-2">
        <mat-label>End time:</mat-label>
      </div>

      <!-- Date: -->
      <div class="col-sm-3">
        <div class="input-group">
          <input formControlName="end_date" placeholder="yyyy-mm-dd" name="dpE" ngbDatepicker #dE="ngbDatepicker"
            [markDisabled]="isDisabled" class="date-input-field">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="dE.toggle()">
              <span class="fa fa-calendar"></span>
            </button>
          </div>
        </div>
      </div>

      <!-- Hour: -->
      <div class="col-sm-3">
        <ngb-timepicker formControlName="end_hour" required></ngb-timepicker>
      </div>

    </div>


    <!-- Price per hour: -->
    <div class="row">

      <!-- Label -->
      <div class="col-sm-2">
        <mat-label>Price:</mat-label>
      </div>

      <!-- Price -->
      <div class="col-sm-3">
        <mat-form-field class="form-field">
          <input matInput placeholder="Price per hour" formControlName="price" required>
          <mat-error *ngIf="rentSpotForm.controls['price'].hasError('pattern')">
            Please enter a valid price: float number only
          </mat-error>
        </mat-form-field>
      </div>

    </div>


  </div>


  <!-- Buttons -->
  <div style="width:300px; align-self: center">

    <button type="button" class="btn btn-primary" (click)="addNewSpot()" [disabled]="!rentSpotForm.valid" style="float: left">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="reset()" style="float: right">Reset</button>

  </div>


</div>