<!-- Title -->
<h2 style="text-align:center" mat-dialog-title>Sign Up</h2>

<!-- Content -->
<div mat-dialog-content [formGroup]="signUpForm">

  <!-- First Nmae -->
  <mat-form-field>
    <input matInput placeholder="First name" formControlName="fname" required>
  </mat-form-field>

  <!-- Last Nmae -->
  <mat-form-field>
    <input matInput placeholder="Last name" formControlName="lname" required>
  </mat-form-field>

  <!-- UserName -->
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username" required>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field hintLabel="{{passwordHintMessage}}">
    <input matInput placeholder="Password" formControlName="password" required [type]="hidePassword ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="signUpForm.controls['password'].hasError('pattern')">
      Please enter a valid password: {{passwordHintMessage}}
    </mat-error>
  </mat-form-field>

  <!-- Emaiil -->
  <mat-form-field style="margin-top: 30px">
    <input matInput placeholder="Email address" formControlName="email" required>
    <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

</div>

<!-- Bottons -->
<div mat-dialog-actions align="center">

  <button type="button" class="btn btn-primary" (click)="signUp()" [disabled]="!signUpForm.valid">Sign Up</button>
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>

</div>