<!-- Title -->
<h2 style="text-align:center" mat-dialog-title>Login</h2>

<!-- Content -->
<div mat-dialog-content [formGroup]="loginForm">

  <!-- UserName -->
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username" required>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password" required [type]="hidePassword ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

</div>

<!-- Bottons -->
<div mat-dialog-actions style="display:inline-block">

  <button type="button" class="btn btn-primary" (click)="login()" [disabled]="!loginForm.valid">Login</button>
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  <div>
    <span>Don’t have an account?</span>
    <button type="button" class="btn btn-secondary" (click)="signUp()">Sign Up</button>
  </div>

</div>