.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}
  
/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    color: white;
}
  
/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Current/active navbar link */
.active {
    font-weight:bold;
} 

.nav-item{
    align-self: center;
    padding: 8px
}