<h1 mat-dialog-title>Rent Spot</h1>


<div mat-dialog-content>
  <p>You select the parking spot with the following characteristics:</p>

  <p><b>ID: </b>{{spot.id}}</p>
  <p><b>price: </b>{{spot.price}}</p>
  <p><b>address: </b>{{spot.city}} {{spot.street}} {{spot.building}} </p>
  <p><b>distance: </b> {{spot.distance}} </p>
  <p><b>start time: </b> {{spot.start_time}} </p>
  <p><b>end time: </b> {{spot.end_time}} </p>

</div>

<div mat-dialog-actions align="center">
  <button mat-button class="btn btn-primary" (click)="rent(spot.id)">Rent</button>
  <button mat-button class="btn btn-secondary" (click)="close()">Close</button>
</div>